# Database Settings
SUPABASE_URL=
SUPABASE_ANON_KEY=

# Email Notification Settings (for sending application notifications)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password
ADMIN_EMAIL=admin_receive_email@gmail.com
